body{
    background-color: white;
}

body{
    background-color: greenyellow;
    front-family: Arial, sans-serif;
}

h1{
    color: blue;
}

h1{
    color: blue;
    text-align: center;
}

body{
    margin: 0;
    padding: 20px;
}